#pokemon-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  overflow: hidden;
}

#pokemon-overlay .pokemon-description {
  position: absolute;
  left: 0%;
  bottom: 5%;
  font-style: italic;
  border-radius: 0 15px 15px 0;
  padding-left: 10px;
  padding-right: 5px;
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  transform: rotateZ("20");
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  min-width: 20%;
  max-width: 30%;
  z-index: 1;
  transition: 200ms all;
}

#pokemon-overlay .pokemon-description h2 {
  margin: 5px 0;
  font-weight: bold;
}

#pokemon-overlay .pokemon-description p {
  margin: 5px 0;
}

#pokemon-overlay .pokemon-types {
  position: absolute;
  right: 0%;
  bottom: 5%;
  font-style: italic;
  border-radius: 15px 0 0 15px;
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  transform: rotateZ("20");
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-evenly;
  min-width: 20%;
  max-width: 30%;
  padding: 5px;
  z-index: 1;
}

#pokemon-overlay button {
  font-size: 12px;
  background-color: #008542;
  color: #fff;
  text-shadow: 0 2px 0 rgb(0 0 0 / 25%);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border: 0;
  z-index: 1;
  user-select: none;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 1px;
  white-space: unset;
  padding: 0.8rem 1.5rem;
  text-decoration: none;
  font-weight: 900;
  transition: all 0.7s cubic-bezier(0, 0.8, 0.26, 0.99);
  pointer-events: auto;
  position: absolute;
  bottom: 5%;
}

#pokemon-overlay button:before {
  position: absolute;
  pointer-events: none;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  content: "";
  transition: 0.7s cubic-bezier(0, 0.8, 0.26, 0.99);
  z-index: -1;
  background-color: #008542 !important;
  box-shadow: 0 -4px rgb(21 108 0 / 50%) inset,
    0 4px rgb(100 253 31 / 99%) inset, -4px 0 rgb(100 253 31 / 50%) inset,
    4px 0 rgb(21 108 0 / 50%) inset;
}

#pokemon-overlay button:after {
  position: absolute;
  pointer-events: none;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  content: "";
  box-shadow: 0 4px 0 0 rgb(0 0 0 / 15%);
  transition: 0.7s cubic-bezier(0, 0.8, 0.26, 0.99);
}

#pokemon-overlay button:hover:before {
  box-shadow: 0 -4px rgb(0 0 0 / 50%) inset, 0 4px rgb(255 255 255 / 20%) inset,
    -4px 0 rgb(255 255 255 / 20%) inset, 4px 0 rgb(0 0 0 / 50%) inset;
}

#pokemon-overlay button:hover:after {
  box-shadow: 0 4px 0 0 rgb(0 0 0 / 15%);
}

#pokemon-overlay button:active {
  transform: translateY(4px);
}

#pokemon-overlay button:active:after {
  box-shadow: 0 0px 0 0 rgb(0 0 0 / 15%);
}

@media (max-width: 768px) {
  #pokemon-overlay p {
    font-size: 12px;
  }

  #pokemon-overlay h2 {
    font-size: 16px;
  }

  #pokemon-overlay .pokemon-types img {
    width: 16px;
    height: 16px;
  }

  #pokemon-overlay .pokemon-types p {
    font-size: 10px;
  }

  #pokemon-overlay .pokemon-types .type-div:first-child p {
    margin-right: 5px;
  }

  
}
